.App {
  font-family: sans-serif;
  text-align: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: calc(100vh - 260px);
  background-color: #000;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 260px);
  background-color: #555454;
}

.engineer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 260px);
  background-color: #517067;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 260px);
  background-color: #9fdbca;
}


.BCWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 40px;

}

.btnWrapper {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.btn {
  border-radius: 5px;
  background-color: goldenrod !important;
}

a {
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 10px;
}